@font-face {
   font-family: 'Bazzi';
   src:
      url('https://blog.kakaocdn.net/dn/bjoXD7/btqGurD1WiL/E1LJJ0yMKLw9hqEmUkSns1/Bazzi.ttf?attach=1&knm=tfile.ttf')
      format('ttf'),
      
}
.join-page {
	width: 100%;
	margin: auto;
	padding: 8% 0 0;
}

.join-page .join-box .join {
	margin-top: -31px;
	margin-bottom: 26px;
}
.join-page .join-box .join h3 {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	color:#91c769;
	font-size: 25px;
}
.join-box {
	position: relative;
	z-index: 1;
	background: #e7efb8;
	max-width: 450px;
	margin: 0 auto 100px;
	padding: 50px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}
.join-form {
	font-family: 'NEXON Lv1 Gothic OTF';
	color:black;
}

.joinc {
	width: 40%;
	height: 45px;
	margin: auto;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.joinb {
	font-family: 'NEXON Lv1 Gothic OTF';
	font-weight: bold;
	width:20%;
	height: 45px;
	border: 0;
	font-size: 14px;
	background: #ffffff;
}

.joins {
	width: 40%;
	height: 45px;
}
