@charset "UTF-8";
    -webkit-locale: "ko";
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    height: 100%;
    @font-face {
    font-family: Bazzi; 
    src: url("C:\Users\PC\Desktop\project\css\Bazzi.ttf");
    }
    --color_0: 255,255,255;
    --color_1: 49,64,63;
    --color_2: 52,52,52;
    --color_3: 62,81,80;
    --color_4: 247,247,247;
    --color_5: 146,112,63;
    --color_6: 255,255,255;
    --color_7: 199,212,211;
    --color_8: 143,169,167;
    --color_9: 92,120,118;
    --color_10: 49,64,63;
    --color_11: 255,255,255;
    --color_12: 184,204,202;
    --color_13: 143,169,167;
    --color_14: 92,120,118;
    --color_15: 49,64,63;
    --color_16: 187,187,187;
    --color_17: 120,120,120;
    --color_18: 52,52,52;
    --color_19: 35,35,35;
    --color_20: 17,17,17;
    --color_21: 213,223,223;
    --color_22: 172,191,190;
    --color_23: 130,160,158;
    --color_24: 94,123,121;
    --color_25: 62,81,80;
    --color_26: 251,251,251;
    --color_27: 247,247,247;
    --color_28: 185,185,185;
    --color_29: 124,124,124;
    --color_30: 62,62,62;
    --color_31: 210,185,150;
    --color_32: 146,112,63;
    --color_33: 110,84,47;
    --color_34: 73,56,32;
    --color_35: 37,28,16;
    --font_0: normal normal normal 22px/1.41em Bazzi,barlow-medium,barlow,sans-serif;
    --font_1: normal normal normal 14px/1.79em Bazzi,avenir-lt-w01_35-light1475496,sans-serif;
    --font_2: normal normal normal 28px/1.375em Bazzi,barlow-medium,barlow,sans-serif;
    --font_3: normal normal normal 200px/1.4em Bazzi,bodoni-w01-poster,bodoni-poster-w10,fantasy;
    --font_4: normal normal normal 72px/1.4em Bazzi,bodoni-w01-poster,bodoni-poster-w10,fantasy;
    --font_5: normal normal normal 50px/1.34em Bazzi,barlow-medium,barlow,sans-serif;
    --font_6: normal normal normal 40px/1.35em Bazzi,barlow-medium,barlow,sans-serif;
    --font_7: normal normal normal 20px/1.67em Bazzi,barlow-extralight,barlow,sans-serif;
    --font_8: normal normal normal 30px/1.75em Bazzi,barlow-extralight,barlow,sans-serif;
    --font_9: normal normal normal 22px/1.9em Bazzi,barlow-extralight,barlow,sans-serif;
    --font_10: normal normal normal 14px/1.79em Bazzi,avenir-lt-w01_35-light1475496,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    font-family: Bazzi,sans-serif;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
  