@font-face {
	font-family: 'HeirofLightBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ELAND_Choice_M';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ELAND_Choice_B';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
div .test1-section {
	margin: 0 auto;
	float: right;
}
.test1-table {		
	font-family: 'ELAND_Choice_M';
	color:#000000;
}
div .test1-page, .test1-section, .test1-content {
	padding: 20px;
}

aside#aside {
	float: left;
}
/* 
section.test1-section::after {
	content: "";
	display: block;
	clear: both;
} */
.test1-header h2 {
	font-family: 'HeirofLightBold';
	color:#000000;
	font-size: 25px;
}
/* 
@media screen and (max-width: 910px) {
	div .test1-page {
		width: calc(100% - 20px);
	}
	div.test1-content {
		width: calc(100% - 20px);
	}
	aside#aside {
		width: 220px;
	}
	@media screen and (max-width: 650px) {
		div.test1-content, aside#aside {
			width: calc(100% - 20px);
			float: none;
		}
	}
} */