@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
		format('woff');
}

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.login-section {
	height: 700px;
}

.login-page {
	font-family: 'NEXON Lv1 Gothic OTF';
	width: 400px;
	padding: 8% 0 0;
	margin: auto;
}

.login-page .login-box .login {
	margin-top: -23px;
	margin-bottom: 10px;
}

.login-page .login-box .login h3 {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	color: #91c769;
	font-size: 25px;
	line-height: 0;
}

.login p {
	line-height: 0.6em;
	font-size: 11px;
	color: #a4a4a4;
}

.login-box {
	z-index: 1;
	background: #e7efb8;
	height: 200px;
	margin: 10 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.login-box input {
	background: #ffffff;
	width: 250px;
	border: 0;
	margin: 0 0 15px;
	padding: 13px;
	box-sizing: border-box;
	font-size: 14px;
}

.login-page .message {
	margin: 15px 0 0;
	color: #a4a4a4;
	font-size: 12px;
	text-align: center;
}

.loginb {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}

.login-page .message a {
	color: #469d11;
}